*{
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
}

html{
    font-size: 16px;
}

/* UTILITY */

.flex{
    display: flex;
}

.rel{
    position: relative;
}

.absolute{
    position: absolute;
}

/* STRUCT */

header.view{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    height: 4rem;
    
    background-color: black;
    color: white;
}

.view div{
    align-items:stretch;
}
 
.view img{
    height: 1em;
    align-self: flex-start;
    margin-right: 5px;
} 


.view .speaker, .fullScreen{
    background-color: #4a4a4a;
    text-transform: capitalize;

    padding: .2em .4em;

    /* height: 1.5em; */

    margin-right: .5em;

    border-radius: .3em;
}





main{
    height: calc(100vh - 8rem);
    background-color: black;
    align-content: flex-start;

    flex-wrap: wrap;

    justify-content: center;

    padding: 0 3rem;

    overflow-y: auto;
}

.user-cam{
    flex-basis: calc(100% / 7 - .6rem);
    height: 7rem;

    background-image: url(https://picsum.photos/300/200);
    background-position: center;
    background-repeat: no-repeat;

    background-size:cover;

    min-width: 120px;

    margin: .3rem;
}
.user-cam img{
    max-height: 10rem;
}
.user-cam .cam-info{
    bottom: 1px;
    left: 0;

    background-color: rgba(168,168,168,0.60);
}

