*{
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
}

html{
    font-size: 16px;
}

/* UTILITY */

.flex{
    display: flex;
}

.rel{
    position: relative;
}

.absolute{
    position: absolute;
}

.green{
    color: green;
}
/* STRUCT */

header.view{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    height: 4rem;
    
    background-color: black;
    color: white;
}

.responsive-menu{
    display: none;

}

.responsive-menu> .fas{
    margin-right: .5em;
}

.view div{
    align-items:stretch;
}
 
.view img{
    height: 1em;
    align-self: flex-start;
    margin-right: 5px;
} 


.view .speaker, .fullScreen, .responsive-menu{
    background-color: #4a4a4a;
    text-transform: capitalize;

    padding: .2em .4em;

    /* height: 1.5em; */

    margin-right: .5em;

    border-radius: .3em;
}





main{
    height: calc(100vh - 8rem);
    background-color: black;
    align-content: flex-start;

    flex-wrap: wrap;

    justify-content: center;

    padding: 1rem 3rem;

    overflow-y: auto;
}

.user-cam{
    flex-basis: calc(100% / 7 - .6rem);
    height: calc(100% / 5 - .6rem);

    background-image: url(https://picsum.photos/300/200);
    background-position: center;
    background-repeat: no-repeat;

    background-size:cover;

    min-width: 120px;
    min-height: 100px;

    margin: .3rem;
}
.user-cam img{
    max-height: 10rem;
}
.user-cam .cam-info{
    bottom: 1px;
    left: 0;

    background-color: rgba(168,168,168,0.60);

    text-transform: capitalize;
}




footer{
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;
    background-color: #222222;
    height: 4rem;

    align-items: center;
    justify-content: space-between;

    font-size: .8rem;
}

.footMenu>div{
    padding: 1em;
    color: white;

    text-align: center;
    text-transform: capitalize;
}

.footMenu>i{
    color: white;
    text-align: center;
    align-self: center;

    font-size: .5rem;
}


.exit-btn{
    align-self: stretch;

    align-items: center;

    padding: 1em;

    font-size: .7rem;
    text-transform: capitalize;

    color: red;

    background-color: #4a4a4a;
}

.footMenu>div>.fas{
    font-size: 1.5rem;
    padding-bottom: 5px;
}