*{
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
}

html{
    font-size: 16px;

    /* VARS */
    --headerHeight: 3rem;
    --footerHeight: 4rem;
    --camsMarginTopBottom: .3rem;
    --camsMarginLeftRight: .1em;
}

/* UTILITY */

.flex{
    display: flex;
}

.rel{
    position: relative;
}

.absolute{
    position: absolute;
}

.green{
    color: green;
}
/* STRUCT */

header.view{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    
    height:var(--headerHeight);
    
    background-color: black;
    color: white;
}

.responsive-menu{
    display: none;

    margin-left: .5em;

}

.responsive-menu> .fas{
    margin-right: .5em;
}

.view>div{
    align-items:center;
    margin-top: .2em;
}
 
.view img{
    height: 1em;
    align-self: flex-start;
    margin-right: 5px;
} 


.view .speaker, .fullScreen, .responsive-menu{
    background-color: #4a4a4a;
    text-transform: capitalize;

    padding: .2em .4em;

    margin-right: .5em;

    border-radius: .3em;
}





main{
    height: calc(100vh - var(--headerHeight) - var(--footerHeight));
    background-color: black;
    align-content: flex-start;

    flex-wrap: wrap;

    justify-content: center;

    padding: 1rem 3rem;

    overflow-y: auto;
}

.user-cam{
    flex-basis: calc(100% / 7 - var(--camsMarginLeftRight) * 2);
    height: calc(100% / 5 - var(--camsMarginTopBottom) * 2);

    background-image: url(https://picsum.photos/1920/1080);
    background-position: center;
    background-repeat: no-repeat;

    background-size:cover;

    min-width: 120px;
    min-height: 100px;

    margin: var(--camsMarginTopBottom) var(--camsMarginLeftRight);
}
.user-cam img{
    max-height: 10rem;
}
.user-cam .cam-info{
    bottom: 1px;
    left: 0;

    background-color: rgba(168,168,168,0.60);

    text-transform: capitalize;
}




footer{
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;
    background-color: #222222;
    height: var(--footerHeight);

    align-items: center;
    justify-content: space-between;

    font-size: .8rem;
}

.footMenu>div{
    padding: 1em;
    color: white;

    text-align: center;
    text-transform: capitalize;
}

.footMenu>i{
    color: white;
    text-align: center;
    align-self: center;

    font-size: .5rem;
}


.exit-btn{
    align-self: stretch;

    align-items: center;

    padding: 1em;

    font-size: .7rem;
    text-transform: capitalize;

    color: red;

    background-color: #4a4a4a;
}

.footMenu>div>.fas{
    font-size: 1.5rem;
    padding-bottom: 5px;
}

@media screen and (max-width: 865px) {
    footer .footMenu:nth-child(2){
        display: none;
    }

    .responsive-menu{
        display: flex;
    }

    header.view{
        justify-content: space-between;
    }
}